.b-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(13, 32, 42);
    color: white;
    flex-direction: column;
    padding: 5px 0;
}

.b-login-logo {
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

label {
    padding-left: 21px;
    margin-bottom: 16px;
}


.b-login-input {
    background-color: rgb(216, 238, 248);
    color: rgb(43, 129, 168);
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    &::placeholder {
        color: rgb(43, 129, 168);
        padding-left: 21px;
    }
}

.b-form-button {
    margin-top: 16px;
    cursor: pointer;
}

.b-login-span {
    color: rgb(1,255,161);
}

.b-login-recover {
    margin: 0 37px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.b-login-create {
    margin: 0 37px;
}

.b-login-count {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.31px;
    color: white;
    text-decoration: none;
}

.b-login-error {
    font-size: 10px;
    color: rgb(1,255,161);
    text-align: center;
    height: 80px;
}

.b-errors-container {
    height: 10px;
    padding: 0;
    margin: 20px;

}

