.b-candidates {
    &-container {
        background-color: rgb(13, 32, 42);
        min-height: 100vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 0;

        &--list {
            display: flex;
            flex-wrap: wrap;
            width: 60vw;
            margin: 0 auto;
            justify-content: center;
        }
    }
    &-header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    &-filters {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
}

.dark {
    color: rgb(1,255,161);
}
