.b-regcompany-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(248,250,251);
}

h4 {
    color: rgb(13,32,42);
}

label {
    color: rbg(11, 79, 110);
}

form {
    height: 80%;
}

.b-regcompany-input {
    background-color: white;
    color: rgb(43, 129, 168);
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-indent: 20px;
    border: 0.6px solid rgb(228, 235, 239);

    &::placeholder {
        color: grey;
    }
}

.b-form-button--sec {
    color: white;
    background-color: rgb(12, 32, 42);
}

.b-regcompany-label {
    color: rgb(11,79,110);
}

.b-regcompany-span {
    color: rgb(0, 179, 205);
}

.b-checktext {
    font-size: 13px;
}

.b-login-error--sec {
    color: rgb(11,79,110);
    font-size: 10px;
    text-align: center;
    margin-top: 0px;
}