.b-radius-button {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background-color: rgb(216, 238, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-radius-img {
    width: 30px;
    height: 30px;
}