.b-component-search {
        width: 80%;
        height: 38px;
        background-color: rgb(216, 238, 248);
        border-radius: 8px;
        color: rgb(11, 79, 110);
    
    &::placeholder {
        color: rgb(11, 79, 110);
    }
}
