.b-candidate {
    &-container {
        cursor: pointer;
        width: 250px;
        height: 200px;
        background-color: white;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin: 70px 10px;
    }
    &-text {
        color:rgb(11, 79, 110);
        text-align: center;
        &--sec {
            color: rgb(0, 179, 205);
            text-align: center;
        }
    }
    &-info-text {
        border-bottom: 0.5px solid rgb(233, 225, 225);
        width: 90%;
    }
    &-radius {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: red;
        transform: translate(0, -130%);
        position: absolute;
        object-fit: cover;
        object-position: top;
    }
    &-small {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 60px;
    }
    &-icon {
        width: 10px;
    }
    &-location-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

.b-grey {
    color: grey;
    &-2 {
        color: grey;
        margin-left: 5px;
    }
}