.b-message {
    border-bottom: 3px gray solid;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 60vw;
    max-width: 1000px;

    &-form {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

    }
    textarea {
        width: 40vw;
        height: 40px;
        resize: none;
    }

    button {
        width: 100px;
        height: 40px;
    }

    &-inbox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50vw;
        max-width: 800px;
        padding: 20px 20px;
        cursor: pointer;

        &-text {
            padding-left: 20px;
        
        h3 {
            font-size: 16px;
            font-weight: 500;
        }
        }

        &-user {
            text-align: center;

            h3 {
                margin: 0;
                padding: 0;
                font-size: 20px;
            }
        }

        img {
            border-radius: 100%;
            object-fit: cover;
            width: 60px;
            height: 60px;
            margin-top: 10px;
        }
    }
}