.b-profile {
    background-color: rgb(13, 32, 42);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    max-width: 100vw;

    button {
        font-family: Montserrat-Medium;
        width: 100px;
        font-size: 10px;
        height: 20px;
        margin: 1px;
        background-color: lightgray;
        &:hover {
            background-color: rgb(170, 170, 170);
        }
    }

    input {
        font-family: Montserrat-Medium;
        width: 200px;
    }

    &--image {
        position: absolute;
        transform: translate(-50%, -50%);
        width: 200px;
        display: flex;
        justify-content: center;
    }

    &--vert {
        position: relative;
        margin: 10px;
    }

    &--study {
        margin: 0 20px;
        cursor: pointer;
    }

    &--detail {
        background-color: white;
        border-radius: 40px 40px 0 0;
        display: flex; 
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 900px;
        margin: 100px auto 0 auto;
        padding: 0;
        padding-top: 10vh;
        font-family: Montserrat-SemiBold;

        &--tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        &--form {
            margin: 30px 20px 10px 20px;
        }
    
        h2, h3 {
            color: rgb(13, 32, 42);
            margin: 10px;
        }
    
        h2 {
            font-size: 30px;
        }
    
        h3 {
            font-size: 20px;
        }
    
        h4 {
            color: rgb(11, 79, 110);
            font-size: 18px;
        }
    
        p {
            font-family: Montserrat-Medium;
            font-size: 14px;
            color: rgb(109, 114, 120);
        }
    
    
        &--list {
            display: flex;
            margin: 0 20vw;
            padding-left: 40px;
            width: 350px;
            flex-direction: column;
            align-items: flex-start;
        }
        &--container {
            display: flex;
            position: relative;
            align-items: center;
        }
    }
    
    .b-container--sn {
        display: flex;
        justify-content: space-between;
        width: 200px;
        margin: 10px;
    }
    
    .b-icon--sn {
        height: 28px;
        color: rgb(11, 79, 110);
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(240deg) brightness(38%) contrast(119%);
        cursor: pointer;
    }
    
    .b-edit {
        font-family: Montserrat-Medium;
        font-size: 10px;
        width: 30px;
        text-align: center;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
    
        &--pen {
            height: 15px;
            position: absolute;
            top: 20px;
            right: -50px;
            cursor: pointer;
        }
    }
}

.right {
    margin-top: 0;
    margin-right: -40vw;
}

.b-profile {
    &-header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 200px;
        height: 60px;
    }
    &-title {
        color:white;
        height: 30px;
    }
        
}

.b-position-nav {
    position: fixed;
    bottom: 0;
    left: 50vw;
    transform: translate(-50%, 0%);
}

.white {
    filter: invert(1000%) saturate(1000%) brightness(1000%) contrast(1000%);
}